2<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagementSystem.Properties.Settings.HotelConnectionString"
            connectionString="Dsn=MyServer;uid=Marcus Mazur;trusted_connection=Yes;app=Microsoft® Visual Studio® 2013;wsid=MARCUS;database=Hotel"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>